{extends '../@layout.latte'}

{block content}
<div class="container-fluid">
    <h1 class="mt-4">Správa produktů</h1>

    <div class="mb-4">
        <a href="{$basePath}/admin/products/add" class="btn btn-success">
            <i class="fas fa-plus"></i> Přidat nový produkt
        </a>
    </div>

    {control productsGrid}
</div>
{/block}
