services:
	- App\Core\RouterFactory::createRouter
	- App\Presentation\Accessory\Model\Product
	- App\Presentation\Accessory\Model\Category
	- App\Presentation\Accessory\Model\Order
	- App\Presentation\Accessory\Model\User
	- App\Presentation\Accessory\Repository\ProductRepository
	- App\Presentation\Accessory\Repository\CategoryRepository
	- App\Presentation\Accessory\Repository\OrderRepository
	- App\Presentation\Accessory\Repository\UserRepository

	authorizator: App\Presentation\Accessory\Auth\Authorizator
	security.authorizator: @authorizator


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
